.c-popular-place-snippet {
    width: 302px;
    margin: 0 15px;

    .caption {
        text-align: center;
    }
}

.c-popular-place-snippet__title {
    color: #3C3C3C;
    font-size: 18px;
    margin-top: 16px;
}

.c-popular-place-snippet__count {
    color: #3C3C3C;
    opacity: .6;    
    font-size: 12px;
    margin-top: 5px;
}