include ../image/image.pug

mixin c-popular-cities-snippet(city)
    .c-popular-cities-snippet
        +img-responsive(city.image, city.name)
        .c-popular-cities-snippet__overlay
        .caption
            .c-popular-cities-snippet__blazon
                +img-circle(city.blazon)
            .c-popular-cities-snippet__name
                h3= city.name
            .c-popular-cities-snippet__description= city.description
            +c-popular-cities-snippet__stats(city.stats)

mixin c-popular-cities-snippet__stats(stats)
    .c-popular-cities-snippet__stats
        each stat in stats
            +c-popular-cities-snippet__stat(stat)                

mixin c-popular-cities-snippet__stat(stat)
    .c-popular-cities-snippet__stat
        .c-popular-cities-snippet__stat-count= stat.count
        .c-popular-cities-snippet__stat-category= DICTIONARY.PLACES_CATEGORIES[stat.category]
