include ../c-carousel-slider/c-carousel-slider.pug
include ../c-russia-forms-snippet/c-russia-forms-snippet.pug

mixin c-russia-forms(forms)
    - 
        var carouselParams = {
            slidesToShow: 5,
            slidesToScroll: 2
        };
        
    .c-section.c-section_top-indent_m.c-russia-forms
        +c-carousel-slider('ОБРАЗЫ РОССИИ', carouselParams)
            each form in forms
                +c-russia-forms-snippet(form)
        