include ../image/image.pug

mixin c-russia-forms-snippet(form)
    .c-russia-forms-snippet
        +img-responsive(form.image, form.name)
        .capiton
            .c-russia-forms-snippet__title= form.name
            .c-russia-forms-snippet__place= form.place