include ../image/image.pug

mixin c-popular-travels-snippet(travel)
    .c-popular-travels-snippet
        +img-responsive(travel.image, travel.name)
        .c-popular-travels-snippet__overlay
        .capiton
            .c-popular-travels-snippet__title= travel.name

            if travel.type === 'cluster'
                .c-popular-travels-snippet__count #{travel.count} МЕСТ
            else
                .c-popular-travels-snippet__location= travel.location