mixin c-spec-project
    .c-section.c-section_top-indent_x.c-spec-project
        .c-spec-project__body
            .c-spec-project__label СПЕЦПРОЕКТЫ
            h2.c-spec-project__title САМЫЕ КРАСИВЫЕ МЕСТА СЕВЕРНОГО КАВКАЗА
            .c-spec-project__description.
                Северный Кавказ неслучайно одно из излюбленных направлений внутреннего 
                туризма в России. Здесь удивительным образом сочетаются разнообразный 
                растительный мир, великолепные ландшафты, быстрые реки и высокие горы, 
                полупустыни и целебные минеральные источники, памятники архитектуры 
                и вкусная еда